<%= image_tag "logo.jpg", id: "logo" %>
<p class="lead">Ben's awesome tagline</p>

<% blog.articles.each do |article| %>
  <article>
    <h1><%= article.title %></h1>
    <time><%= article.date.strftime('%b %e %Y') %></time>

    <%= article.body %>

  </article>
<% end %>
